<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    {% if title %}
    <title>{{ title }} - The OPT API</title>
    {% else %}
    <title>Welcome to OPT Seeker</title>
    {% endif %}
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <nav class="main-navigation">
                    {% if functions %}
                    <div class="nav list-group modules">
                        {% for module in functions.keys()|sort %}
                        <a class="nav-item list-group-item list-group-item-action list-group-item-primary" href="#" id="nav-btn-mod-{{loop.index}}" data-toggle="collapse" data-target="#submenu{{loop.index}}" aria-expanded="false">{{ module }} <span class="badge badge-primary float-right">{{ '{0:02d}'.format(functions[module]|length)}}</span></a>
                            {% if functions[module] %}
                            <div class="nav list-group collapse functions" id="submenu{{loop.index}}" role="menu" aria-labelledby="nav-btn-mod-{{loop.index}}">
                                {% for fnc in functions[module]|sort %}
                                <a class="nav-item list-group-item list-group-item-action function-name">{{ fnc }}</a>
                                {% endfor %}
                            </div>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </nav>
            </div>
            <div class="col">
                <main>
                    <h1>The OPT API <span class="badge badge-secondary">WIP</span></h1>
                    <span class="badge badge-primary">Primary</span>
                    <span class="badge badge-secondary">Secondary</span>
                    <span class="badge badge-success">Success</span>
                    <span class="badge badge-danger">Danger</span>
                    <span class="badge badge-warning">Warning</span>
                    <span class="badge badge-info">Info</span>
                    <span class="badge badge-light">Light</span>
                    <span class="badge badge-dark">Dark</span>
                </main>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>