{% extends "page-functions.html" %}

{% block content_main %}
    <main>
        <form>
            <div class="form-group">
                {% for key in header.keys() %}

                    <label class="h4 m-2 p-2" for="{{ key }}">{{ key }}</label>
                    <textarea class="form-control" id="{{ key }}" rows="{{ header[key]|length }}" readonly>{{ header[key]|join('\n') }}</textarea>

                {% endfor %}


                {% if content %}
                <label class="h4 m-2 p-2" for="Code">Code</label>
                <pre>
                    <code>
                        {{ content }}
                    </code>
                </pre>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Header speichern</button>
        </form>

    </main>
{% endblock %}